<div class="my-8 md:my-24">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <div
      class="flex items-center rounded-2xl p-5 hover-card cursor-pointer shadow-md"
    >
      <i class="fa-solid fa-folder text-green text-3xl mr-3"></i>
      <div class="flex flex-col">
        <span class="text-3xl font-bold">04+</span>
        <span class="">Our Online Course</span>
      </div>
    </div>

    <div
      class="flex items-center rounded-2xl p-5 hover-card cursor-pointer shadow-md"
    >
      <i class="fa-solid fa-code text-green text-3xl mr-3"></i>
      <div class="flex flex-col">
        <span class="text-3xl font-bold">10+</span>
        <span class="">Academic Programs</span>
      </div>
    </div>

    <div
      class="flex items-center rounded-2xl p-5 hover-card cursor-pointer shadow-md"
    >
      <i class="fa-solid fa-graduation-cap text-green text-3xl mr-3"></i>
      <div class="flex flex-col">
        <span class="text-3xl font-bold">08+</span>
        <span class="">Certified Students</span>
      </div>
    </div>

    <div
      class="flex items-center rounded-2xl p-5 hover-card cursor-pointer shadow-md"
    >
      <i class="fa-solid fa-users text-green text-3xl mr-3"></i>
      <div class="flex flex-col">
        <span class="text-3xl font-bold">10+</span>
        <span class="">Exrolled Students</span>
      </div>
    </div>
  </div>
</div>
