$themePrimary: var(--themePrimary);
$themePrimary-2: var(--themePrimary-2);
$themeSecondary: var(--themeSecondary);
$themeFontColor: var(--themeFontColor);
$themeGray: var(--themeGray);
$themeBoxShadow: var(--themeBoxShadow);
$themeHoverBoxShadow: var(--themeHoverBoxShadow);
$themeDialogModal: var(--themeDialogModal);
$themeButtonColor: var(--themeButtonColor);
