$bannerTitle: var(--bannerTitle);//#000000; //light mode, dark mode: #ffffff
$mainHeader: var(--mainHeader); //#FEFEFE; //light mode, dark mode : #222226
$bannerSubTitile:var(--bannerSubTitile); //#000000; //light mode, dark mode : #ffffff
$createMeetingBtn:var(--createMeetingBtn); //#0C9E9B; //light mode, dark mode : #0C9E9B
$createMeetingBtnColor:var(--createMeetingBtnColor); //#ffffff; //light mode, dark mode : #ffffff
$copyLinkInput:var(--copyLinkInput); //#BFD6D2; //light mode, dark mode : #ffffff
$meetingJoinBtn:var(--meetingJoinBtn); //#0c9e9b; //light mode, dark mode : #0c9e9b
$meetingJoinBtnColor:var(--meetingJoinBtnColor); //#ffffff; //light mode, dark mode : #ffffff
$mainHeading:var(--mainHeading); //#000000; //light mode, dark mode : #ffffff
$mainSubHeading:var(--mainSubHeading); //#000000; //light mode, dark mode : #ffffff
$beforeBgColor:var(--beforeBgColor); //#fcfcfc; //light mode, dark mode : #262628
$cardBg:var(--cardBg); //#BFD6D2; //light mode, dark mode : #1A1A1E
$cardHeading:var(--cardHeading); //#000000; //light mode, dark mode : #ffffff
$cardSubHeading:var(--cardSubHeading); //#000000; //light mode, dark mode : #ffffff
$lINKWithPrideBox:var(--lINKWithPrideBox); //#BFD6D2; //light mode, dark mode : #1D1D21
$lINKWithPrideBoxBefore:var(--lINKWithPrideBoxBefore); //linear-gradient(228deg, rgba(125, 151, 146, 0.24) 25.68%, rgba(125, 151, 146, 0) 86.96%); //light mode, dark mode : background: linear-gradient(228deg, rgba(125, 151, 146, 0.24) 25.68%, rgba(125, 151, 146, 0.00) 86.96%);
$lINKWithPrideBoxHeading:var(--lINKWithPrideBoxHeading); //#000000; //light mode, dark mode : #ffffff
$lINKWithPrideBoxSubHeading:var(--lINKWithPrideBoxSubHeading); //#000000; //light mode, dark mode : #ffffff
$deviceSectionBoxBg:var(--deviceSectionBoxBg); //#BFD6D2; //light mode, dark mode : #1A1A1E
$deviceSectionBoxBefore:var(--deviceSectionBoxBefore); //linear-gradient(184deg, #E0E6E5 3.55%, rgba(224, 230, 229, 0.00) 43.89%); //light mode, dark mode : background: linear-gradient(228deg, rgba(125, 151, 146, 0.24) 25.68%, rgba(125, 151, 146, 0.00) 86.96%);
$meetOnAnyDeviceSectionBoxBg:var(--meetOnAnyDeviceSectionBoxBg); //rgba(231, 236, 235, 0.28); //light mode, dark mode : #161619
$meetOnAnyDeviceSectionBoxHeading:var(--meetOnAnyDeviceSectionBoxHeading); //#000000; //light mode, dark mode : #ffffff
$meetOnAnyDeviceSectionBoxSubHeading:var(--meetOnAnyDeviceSectionBoxSubHeading); //#000000; //light mode, dark mode : #ffffff
$lINKEducationBoxBg:var(--lINKEducationBoxBg); //#BFD6D2; //light mode, dark mode : #1D1D21
$lINKEducationBoxBgBefore:var(--lINKEducationBoxBgBefore); //linear-gradient(86deg, rgba(125, 151, 146, 0.24) 25.68%, rgba(125, 151, 146, 0.00) 86.96%); //light mode, dark mode : linear-gradient(228deg, rgba(125, 151, 146, 0.24) 25.68%, rgba(125, 151, 146, 0.00) 86.96%);
$lINKEducationBoxHeading:var(--lINKEducationBoxHeading); //#000000; //light mode, dark mode : #ffffff
$lINKEducationBoxSubheading:var(--lINKEducationBoxSubheading); //#000000; //light mode, dark mode : #ffffff
$featureSubSectionBgBefore:var(--featureSubSectionBgBefore); //linear-gradient(346deg, #EDF1F0 13.84%, rgba(234, 238, 237, 0.15) 81.06%); //light mode, dark mode : linear-gradient(343deg, #2A3031 13.74%, rgba(42, 48, 49, 0.00) 87.51%)
$featureSubSectionSubHeading:var(--featureSubSectionSubHeading); //#000000; //light mode, dark mode : #ffffff
$featureSubSectionBorderBg:var(--featureSubSectionBorderBg); //#000000; //light mode, dark mode : #ffffff
$knowMoreBtn:var(--knowMoreBtn); //#0C9E9B; //light mode, dark mode : #ffffff
$planSubHeading:var(--planSubHeading); //#0C9E9B; //light mode, dark mode : #0C9E9B
$meetingSizeHeading:var(--meetingSizeHeading); //#000000; //light mode, dark mode : #ffffff
$planListNewHeading:var(--planListNewHeading); //#000000; //light mode, dark mode : #ffffff
$planListNewBorder:var(--planListNewBorder); //#0C9E9B; //light mode, dark mode : #ffffff
$planListBeforeColor:var(--planListBeforeColor); //#0C9E9B; //light mode, dark mode : #ffffff
$planListColor:var(--planListColor); //#000000; //light mode, dark mode : #ffffff
$planListSubHeadingColor:var(--planListSubHeadingColor); //#000000; //light mode, dark mode : #ffffff
$testimonialsSectionSubHeading:var(--testimonialsSectionSubHeading); //#000000; //light mode, dark mode : #ffffff
$testimonialsSectionHeading:var(--testimonialsSectionHeading); //#000000; //light mode, dark mode : #ffffff
$mainFooterBg:var(--mainFooterBg); //#B3CFEB; //light mode, dark mode : #121213
$mainFooterColor:var(--mainFooterColor); //#000000; //light mode, dark mode : #ffffff
$mainFooterHeadingColor:var(--mainFooterHeadingColor); //#000000; //light mode, dark mode : #ffffff
$mainFooterBorder:var(--mainFooterBorder); //#000000; //light mode, dark mode : #ffffff
$mainFooterListColor:var(--mainFooterListColor); //#000000; //light mode, dark mode : #ffffff
$mainFooterSubHeading:var(--mainFooterSubHeading); //#000000; //light mode, dark mode : #ffffff
$mainFooterLogoHeading:var(--mainFooterLogoHeading); //#000000; //light mode, dark mode : #ffffff
$mainFooterLogoBg:var(--mainFooterLogoBg); //#B3CFEB; //light mode, dark mode : #121213
$subscriptionSectionBroder:var(--subscriptionSectionBroder); //#121213; //light mode, dark mode : #ffffff
$socialIconsColor:var(--socialIconsColor); //#121213; //light mode, dark mode : #ffffff
$bodyBgColor:var(--bodyBg); //#121213; //light mode, dark mode : #ffffff
$theme:var(--iconTheme); //#121213; //light mode, dark mode : #ffffff
$headerBg:var(--bgHeader); //#222226; //light mode, dark mode : #FEFEFE
$liveclock:var(--liveclock); //#000; //light mode, dark mode : #fff
$planListBg:var(--planListBg); //rgba(198, 233, 250, 0.84); //light mode, dark mode : #404344
$aiezeLogoColor:var(--aiezeLogoColor); //#000; //light mode, dark mode : #fff








/*******************************************************/
$bgPrimaryContainer: var(--bgPrimaryContainer); // Main container green theme for light mode, dark mode: #90a4b0
$bgSecondaryContainer: var(--bgSecondaryContainer); // Body green theme for light mode, dark mode: #181a1b
$bgToggleButton: var(--bgToggleButton); // For toggle button in vc chat of light mode, dark mode: #0e7977
$bgToggleSecondaryButton: var(--bgToggleSecondaryButton); // Background colour of toggle button in vc chat of light mode, dark mode : #2b2b2b
$label: var(--label); // For labels and texts of light mode, dark mode: #ffffff
$bgChatBox: var(--bgChatBox); // For background of vc chat box light mode, dark mode: #181A1B
$bgPlaceholderLabel: var(--bgPlaceholderLabel); // For placeholder used in input field of light mode, dark mode: #304243
$bgSendIcon: var(--bgSendIcon); // For send button(icon) used in input field of light mode, dark mode: same as $bgToggleButton
$bgMenuIcons: var(--bgMenuIcons); // Background color (Grey and Dark Grey) for menu icons in light mode, dark mode:#575757
$menuIcons: var(--menuIcons); // Icon color (Black & Green) for menu icons in light mode, dark mode :#96ef88
$menuEndMeeting: var(--menuEndMeeting); // End Meeting bg color for light mode, dark mode: #d75555
$bgChatGPTIcon: var(--bgChatGPTIcon); // Same for light and dark mode
$chatGPTIcon: var(--chatGPTIcon); // Same for both light and dark mode
$bgChatMessageBox: var(--bgChatMessageBox); // Background color for vc chat messages in light mode, dark mode : #181a1b
$sendBtnIcon: var(--sendBtnIcon); // Send Icon Button color for light mode, dark mode : #e5ecea
$bgChatInput : var(--bgChatInput); // Bg color for input of chat box in light mode, dark mode : #304243
$bgVcChatEmoji : var(--bgVcChatEmoji); // Bg color for emoji of chat box in light mode, dark mode : ##1b2825
$vcChatEmojiIcon : var(--vcChatEmojiIcon); // Icon color for emojis pack in vc chat in light mode, dark mode : #6B7B87
$mainPageBgLeft: var(--mainPageBgLeft); // vc main page bg color light mode #339694
$mainPageBgRight: var(--mainPageBgRight); // vc main page bg color light mode #339694
$mainPageBannerText: var(--mainPageBannerText); //vc main page heading text color #000000
$joinButton: var(--joinButton); // ready to join button color light mode and dark mode #52CBC9;
$vcExpandIcon: var(--vcExpandIcon); // Expand Meeting Icon in light mode, dark mode : #e8e8e8
$crossMenuIcon: var(--crossMenuIcon); // Cross icon on toggle switch in menus for light mode, dark mode : #242b34
$bgMeetingMenu: var(--bgMeetingMenu); // Background color for Meeting Menu in light mode, dark mode : #181a1b
$bgChatGpt: var(--bgChatGpt); // Background color of chat gpt container in light mode, dark mode : #18211c
$bgChatGptMessageBox: var(--bgChatGptMessageBox); //Background color for message box in chat gpt for light mode, dark mode: #2b2b2b
$bgVcChatGptProfileImage: var(--bgVcChatGptProfileImage); // Background color for prodile image in chat GPT
$iconsColorDarkLight: var(--iconsColorDarkLight); //icons color change
$bgMainPage: var(--bgMainPage); //dark and light theme home page bg color change
$dialogCloseBtn: var(--dialogCloseBtn); //dark and light theme home page bg color change
$waitingRoomText: var(--waitingRoomText); //Waiting Room Text
$waitingRoomCard: var(--waitingRoomCard); //Waiting Room Card
$projectionSubmitbuttonBg: var(--projectionSubmitbuttonBg); //projection Submit button Background color
$projectionSubmitbuttonColor: var(--projectionSubmitbuttonColor); //projection Submit button text color
$projectionCancelbuttonBg: var(--projectionCancelbuttonBg); //projection cancel button Background color
$projectionCancelbuttonColor: var(--projectionCancelbuttonColor); //projection cancel button text color








