@import "../../../../../theme/color";

::ng-deep mat-dialog-container {
  border-radius: 1rem !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick,
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-should-float
  .mat-form-field-label,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $themeDialogModal !important;
}

::ng-deep .mat-error {
  font-size: 0.9rem !important;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0.6rem !important;
}

.btn-green {
  background-color: $themeSecondary;
}

.btn-back {
  border: 1px solid $themeSecondary;
}

::ng-deep .mat-form-field {
  font-family: inherit !important;
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.4) !important;
}
