<div class="grid md:grid-cols-2 gap-4 text-base relative mt-4">
  <div class="absolute translate-x-full md:translate-x-1/2 md:right-1/2">
    <img
      src="../../../assets/images/home/chalukyaMohanrajProfile.webp"
      style="width: 40rem"
    />
  </div>

  <div class="mt-6 md:mt-40 z-10">
    <div class="text-4xl font-bold">_______</div>
    <div class="sm:text-3xl md:text-4xl font-bold leading-snug">
      <div class="">I'm Chalukya Mohanraj(CK),</div>
      <span>a Chief Architech</span>
    </div>

    <div class="mt-20 md:mt-3 leading-7 md:mr-24">
      A versatile professional with 15+ years of experience, serves as Chief
      Architech at <span class="text-green">CoWIN</span>, excelling as an
      Entrepreneur, Founder, CTO and Data Scientist.
    </div>
  </div>
  <!-- ... -->
  <div class="md:mt-40 leading-7 md:ml-24 z-10">
    CKlassrooms is a initiative led by Chalukya Mohanraj and his dedicated team,
    aimed at empowering new comers with cutting-edge knowledge to excel in their
    areas.
  </div>
</div>
