<div class="mt-3 md:mt-10 lg:mt-20 xl:mx-36">
  <div
    class="flex flex-col-reverse md:grid md:grid-cols-2 md:place-items-center md:gap-x-11 text-base"
  >
    <div class="mt-8 md:mt-0">
      <div class="sm:text-3xl md:text-4xl font-bold">
        <div class="mb-2">I'm Chalukya Mohanraj(CK),</div>
        <span>a Chief Architech</span>
      </div>

      <div class="leading-7 my-4">
        A versatile professional with 15+ years of experience, serves as Chief
        Architech at <span class="text-green">CoWIN</span>, excelling as an
        Entrepreneur, Founder, CTO and Data Scientist.
      </div>

      <div class="leading-7">
        CKlassrooms is a initiative led by Chalukya Mohanraj and his dedicated
        team, aimed at empowering new comers with cutting-edge knowledge to
        excel in their areas.
      </div>
    </div>

    <div class="">
      <img
        src=" assets/images/home/chalukyaMohanrajProfile.webp"
        class="banner-image"
      />
    </div>
  </div>

  <app-testimonial></app-testimonial>
</div>
