<div class="mt-24 xl:mx-36">
  <div
    class="flex flex-col-reverse md:grid md:grid-cols-2 md:place-items-center md:gap-x-11 text-base"
  >
    <div class="mt-8 md:mt-0">
      <div
        class="text-xl xl:text-4xl font-bold animate__animated animate__fadeInUp"
        style="animation-duration: 0.8s"
      >
        <div class="mb-5 xl:mb-2 underline-label md:text-xl xl:text-3xl">
          I'm Chalukya Mohanraj (CK)
        </div>
        <span class="text-base md:text-xl">Chief Architect</span>
      </div>

      <div
        class="leading-7 my-4 animate__animated animate__fadeInUp"
        style="animation-duration: 0.9s"
      >
        A versatile professional with 15+ years of experience, serves as Chief
        Architech at
        <a href="https://www.cowin.gov.in/" target="_blank" class="text-green"
          >CoWIN</a
        >, excelling as an Entrepreneur, Founder, CTO and Data Scientist.
      </div>

      <div
        class="leading-7 animate__animated animate__fadeInUp"
        style="animation-duration: 1s"
      >
        CKlassrooms is a initiative led by Chalukya Mohanraj and his dedicated
        team, aimed at empowering new comers with cutting-edge knowledge to
        excel in their areas.

        <div class="my-4">
          <a href="https://github.com/rmchalukya" target="_blank">
            <i
              class="fa-brands fa-github text-2xl hover:scale-125 duration-200 me-5"
            ></i
          ></a>
          <a
            href="https://www.linkedin.com/in/chalukya-mohanraj/"
            target="_blank"
          >
            <i
              class="fa-brands fa-linkedin text-2xl hover:scale-125 duration-200"
            ></i>
          </a>
        </div>
        <app-apply-button additionalClasses="px-5 py-3"></app-apply-button>
      </div>
    </div>

    <div
      class="flex justify-center animate__animated animate__backInRight"
      style="animation-duration: 1s"
    >
      <div
        class="banner-image border-black dark:border-white overflow-hidden lg:h-5/6 lg:w-5/6"
      >
        <img
          src=" assets/images/home/chalukyaMohanrajProfile.png"
          class="px-10"
        />
      </div>
    </div>
  </div>

  <app-achievements></app-achievements>

  <app-job-placements></app-job-placements>

  <div class="flex flex-col md:flex-row justify-center items-center">
    <app-apply-button additionalClasses="py-5 w-80"></app-apply-button>
  </div>

  <app-what-we-offer></app-what-we-offer>

  <div class="flex flex-col md:flex-row justify-center items-center">
    <button
      type="button"
      class="text-green border-green rounded-lg py-5 w-80 mb-3 md:mb-0 font-bold md:mr-4"
      (click)="scrollToTarget('courses')"
    >
      Check the courses
    </button>
    <app-apply-button additionalClasses="py-5 w-80"></app-apply-button>
  </div>

  <app-placement-support></app-placement-support>

  <div class="flex flex-col md:flex-row justify-center items-center">
    <app-apply-button additionalClasses="py-5 w-80"></app-apply-button>
  </div>

  <app-courses></app-courses>

  <div class="my-8 md:my-40">
    <img
      class="w-full h-full"
      src="assets/images/sixMonthsPhase/{{ learningPhaseImg }}.svg"
      alt=""
    />
  </div>

  <div class="flex flex-col md:flex-row justify-center items-center">
    <button
      type="button"
      class="text-green border-green rounded-lg py-5 w-80 mb-3 md:mb-0 font-bold md:mr-4"
      (click)="scrollToTarget('jobPlacement')"
    >
      What we ensure?
    </button>
    <app-apply-button additionalClasses="py-5 w-80"></app-apply-button>
  </div>

  <app-experts-team></app-experts-team>

  <div class="flex flex-col md:flex-row justify-center items-center">
    <app-apply-button additionalClasses="py-5 w-80"></app-apply-button>
  </div>

  <app-faq></app-faq>

  <div class="flex flex-col md:flex-row justify-center items-center">
    <app-apply-button additionalClasses="py-5 w-80"></app-apply-button>
  </div>

  <app-testimonial></app-testimonial>

  <div class="flex flex-col md:flex-row justify-center items-center">
    <app-apply-button additionalClasses="py-5 w-80"></app-apply-button>
  </div>
</div>
