<div class="flex justify-between">
  <div
    class="text-xl animate__animated animate__fadeInDown"
    style="animation-duration: 0.5s"
  >
    <span class="text-green font-bold">CK</span>
    <span>lassrooms</span>
  </div>
  <div class="hidden md:flex items-center">
    <!-- <span
      class="animate__animated animate__fadeInDown cursor-pointer"
      style="animation-duration: 0.5s"
      >Home</span
    > -->
    <span
      class="mx-4 animate__animated animate__fadeInDown cursor-pointer"
      style="animation-duration: 0.65s" 
      (click)="scrollToTarget('experts')">Experts
    </span>
    <span
      class="animate__animated animate__fadeInDown cursor-pointer"
      style="animation-duration: 0.8s"
      (click)="scrollToTarget('courses')">Courses
    </span>
    <div
      class="ms-4 toggle-switch-container border-2 border-zinc-400 px-10 rounded-3xl animate__animated animate__fadeInDown"
      style="animation-duration: 0.95s"
    >
      <input
        (change)="switchTheme()"
        type="checkbox"
        id="themeCheckbox"
        class="opacity-0 absolute"
      />
      <label
        for="themeCheckbox"
        class="toggle-body relative cursor-pointer rounded-3xl shadow"
      >
        <span class="toggle-button absolute rounded-2xl"> </span>
        <span class="absolute toggle-image-light"></span>
        <span class="absolute toggle-image-dark"></span>
      </label>
    </div>
  </div>
</div>
