<div
  class="z-50 header-body pb-3 w-screen"
  [ngClass]="{
    'shadow-lg': verticalScrollValue,
    fixed: utilityService.showFooter$ | async
  }"
>
  <div class="flex justify-between items-center bg-green">
    <img
      class="hidden md:block w-20 md:w-40"
      src="assets/images/header/headerLeftCelebration.webp"
      alt=""
    />
    <span
      class="text-xs md:text-base xl:text-2xl font-bold p-2 text-white leading-4"
      >Explore a complimentary Job Placement Consultation -
      <span
        class="text-black underline underline-offset-2 cursor-pointer"
        (click)="openDialog()"
        >Book Now!</span
      >
    </span>
    <img
      class="w-20 md:w-40"
      src="assets/images/header/headerRightCelebration.webp"
      alt=""
    />
  </div>

  <div class="flex justify-between px-5 pt-3 md:px-10">
    <div
      class="text-xl animate__animated animate__fadeInDown cursor-pointer"
      style="animation-duration: 0.5s"
      (click)="goBack()"
    >
      <img src="assets/images/header/{{ headerLogo }}.svg" class="w-40" />
    </div>
    <div
      class="hidden md:flex items-center"
      *ngIf="utilityService.showFooter$ | async"
    >
      <span
        class="text-base animate__animated animate__fadeInDown cursor-pointer header-label hover:"
        style="animation-duration: 0.65s"
        (click)="scrollToTarget('experts')"
      >
        Experts
      </span>
      <span
        class="text-base mx-4 animate__animated animate__fadeInDown cursor-pointer header-label hover:"
        style="animation-duration: 0.8s"
        (click)="scrollToTarget('courses')"
        >Courses
      </span>
      <div
        class="toggle-switch-container border-2 border-zinc-400 px-10 rounded-3xl animate__animated animate__fadeInDown"
        style="animation-duration: 0.95s"
      >
        <input
          (change)="switchTheme()"
          [(ngModel)]="active"
          type="checkbox"
          id="themeCheckbox"
          class="opacity-0 absolute"
        />
        <label
          for="themeCheckbox"
          class="toggle-body relative cursor-pointer rounded-3xl shadow"
        >
          <span class="toggle-button absolute rounded-2xl"> </span>
          <span class="absolute toggle-image-light"></span>
          <span class="absolute toggle-image-dark"></span>
        </label>
      </div>
    </div>
  </div>
</div>
