@import "../../../../../theme/color";

.header-text:after {
  width: clamp(3rem, 26vw, 30rem);
  margin-left: 15rem;
}

.bg-expert-cards {
  background-color: $themeBoxShadow;
}

.social-logo i:hover {
  transform: translateY(-3px);
  color: #04cd91;
}

.custom-height {
  height: 30rem;
}

.custom-height:hover .expert-img {
  transform: scale(1.2);
  transition: 0.3s linear;
}

.custom-height:hover .overlay {
  display: flex !important;
  background-color: rgba(0, 0, 0, 0.2);
}
