@import "../../../../../theme/color";

.header-text:after {
  margin-left: 12rem;
}

.more-offering-card {
  border-color: $themeBoxShadow;
}

.more-offering-card:hover {
  box-shadow: 0 8px 8px 0 $themeHoverBoxShadow;
}
