<div class="mt-24 md:mt-40 2xl:mt-24 xl:mx-36 pt-5 md:pt-7 lg:pt-10 xl:pt-12">
  <div>
    <div
      class="mb-5 xl:mb-2 font-bold underline-label md:text-xl xl:text-3xl pb-2 text-green"
      >
      Pay After Placement Program (PAP)
    </div>
    <p class="font-medium text-base">
      Unlock your potential with our exclusive Pay After Placement Program,
      designed for ambitious individuals eager to launch their careers without
      financial barriers. This innovative online course ensures you only pay the
      fees after you secure a job, aligning our success with yours.
    </p>
  </div>

  <div class="rounded-2xl my-8">
    <img
      class="w-full h-full"
      src="assets/images/payAfterPlacement/learningPhasesPAP.svg"
      alt=""
      />
  </div>

  <mat-tab-group (selectedTabChange)="onTabChanged($event)">
    @for (item of coursesList; track item) {
      <mat-tab [label]="item?.courseName">
        <div class="flex flex-col lg:flex-row">
          <div class="lg:w-3/3 px-3 md:px-6">
            <div class="flex items-center md:items-end lg:justify-between space-x-4 my-2">
              <h2 class="text-base md:text-lg lg:text-2xl font-semibold text-green">
                {{ mindMapJson?.mindMapData?.meta?.name }}
              </h2>
              <div class="flex items-center">
                <button
                  type="button"
                  class="hover-card px-5 py-3 rounded-xl flex items-center font-medium mr-4 ms-4"
                (click)="
                  downloadPdf(
                    mindMapJson?.additionalData?.pdfName,
                    mindMapJson?.additionalData?.pdfUrl
                  )
                "
                  >
                  <h1 class="text-xs hidden md:block me-2">Download PDF</h1>
                  <i class="fas fa-download download-icon"></i>
                </button>
                <button
                  type="button"
                  class="hover-card px-5 py-3 rounded-xl flex items-center font-medium"
                  (click)="openCourseDetailsPage(item.img)"
                  >
                  <h1 class="text-xs hidden md:block me-2">Know More</h1>
                  <i class="fa-solid fa-circle-info download-icon"></i>
                </button>
              </div>
            </div>
            <p class="text-white-600 my-2 leading-7 text-sm lg:text-base">
              {{ mindMapJson?.additionalData?.description }}
            </p>
            <div class="relative">
              <img
                [src]="mindMapJson?.mindMapData?.data?.['background-image']"
                alt="Course Thumbnail"
                class="w-full rounded-lg mb-4 h-full"
                />
            </div>
            <div>
              <mat-tab-group>
                @for (tab of mindMapJson?.additionalData?.tabs; track tab) {
                  <mat-tab
                    [label]="tab?.title"
                    >
                    @if (tab?.content) {
                      <div>
                        <p class="mt-4 leading-7 text-sm">{{ tab?.content }}</p>
                      </div>
                    }
                  </mat-tab>
                }
              </mat-tab-group>
            </div>
          </div>
        </div>
      </mat-tab>
    }
  </mat-tab-group>

  <div class="flex justify-center items-center my-8 md:my-20">
    <button
      type="button"
      class="border-button rounded-lg py-5 w-80 mb-3 md:mb-0 font-bold md:mr-4 tracking-wider"
      (click)="openDialog()"
      >
      Enquire NOW!
    </button>
  </div>

  <div class="my-8 md:my-10 py-10 bg-gray-cards rounded-2xl">
    <div class="text-xl md:text-4xl text-center my-3 font-semibold text-green">
      Key features of this program
    </div>
    <h2
      class="text-sm md:text-base md:mx-10 lg:mx-40 xl:mx-60 text-center mb-8 md:mb-10 xl:mb-16 font-medium"
      >
      Join our Pay After Placement Program today and take the first step towards
      a rewarding career with confidence. Your success is our priority!
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (item of keyFeatures; track item) {
        <div
          class="flex flex-col items-center p-7 md:mb-1 scroll-animation"
          >
          <img
            src="assets/images/payAfterPlacement/{{ item.img }}.svg"
            class=""
            />
          <div class="mt-3 mb-1 text-2xl font-bold w-60 text-center text-green">
            {{ item.label }}
          </div>
          <span class="text-sm text-center">{{ item.description }}</span>
        </div>
      }
    </div>
  </div>

  <div class="flex justify-center items-center mt-8 md:mt-20">
    <button
      type="button"
      class="border-button rounded-lg py-5 w-80 mb-3 md:mb-0 font-bold md:mr-4 tracking-wider"
      (click)="openDialog()"
      >
      Limited Slots - Apply NOW!
    </button>
  </div>

  <app-testimonial [isFromPayAfterPlacement]="true"></app-testimonial>

  <div class="flex justify-center items-center my-8 md:my-20">
    <button
      type="button"
      class="border-button rounded-lg py-5 w-80 mb-3 md:mb-0 font-bold md:mr-4 tracking-wider"
      (click)="openDialog()"
      >
      Enquire NOW!
    </button>
  </div>

  <div class="my-8 md:my-20">
    <h1 class="md:text-xl text-center font-medium text-green mb-3">FAQ's</h1>

    <h2 class="text-sm md:text-base md:mx-10 lg:mx-40 xl:mx-60 text-center">
      Common queries regarding PAP
    </h2>
    @for (item of faqList; track item) {
      <div class="my-5">
        <div class="mb-2 font-semibold">
          {{
          item?.id == 1
          ? "General"
          : item?.id == 4
          ? "Course"
          : item?.id == 6
          ? "Project"
          : item?.id == 7
          ? "Placement"
          : ""
          }}
        </div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> {{ item?.question }} </mat-panel-title>
            </mat-expansion-panel-header>
            @if (item?.answer ? item?.answer : '') {
              <p
                class="faq-desc leading-6 font-medium"
                >
                {{ item?.answer }}
              </p>
            }
            @if (item?.answer1 ? item?.answer1 : '') {
              <p
                class="faq-desc leading-6 ps-3 py-3"
                >
                * {{ item?.answer1 }}
              </p>
            }
            @if (item?.answer2 ? item?.answer2 : '') {
              <p
                class="faq-desc leading-6 ps-3"
                >
                * {{ item?.answer2 }}
              </p>
            }
            @if (item?.answer3 ? item?.answer3 : '') {
              <p
                class="faq-desc leading-6 ps-3 py-3"
                >
                * {{ item?.answer3 }}
              </p>
            }
            @if (item?.answer4 ? item?.answer4 : '') {
              <p
                class="faq-desc leading-6 ps-3"
                >
                * {{ item?.answer4 }}
              </p>
            }
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    }
  </div>

  <div class="flex justify-center items-center my-8 md:my-20">
    <button
      type="button"
      class="border-button rounded-lg py-5 w-80 mb-3 md:mb-0 font-bold md:mr-4 tracking-wider"
      (click)="openDialog()"
      >
      Limited Slots - Apply NOW!
    </button>
  </div>
</div>
