@import "../../../theme/color";
.bg-grey{
    background-color: #f6f8fe;
}

.features-text{
    color:#374151;
}

.bg-gray-cards {
    background-color: $themeBoxShadow;
    color: $themeFontColor;
    border: 1px solid var(--themeHoverBoxShadow);
  }
  