<div class="my-8 md:my-40">
  <h1 class="md:text-xl text-center font-medium text-green mb-3">FAQ's</h1>

  <h2 class="text-sm md:text-base md:mx-10 lg:mx-40 xl:mx-60 text-center">
    Common queries demystified succinctly.
  </h2>
  <div class="my-5" *ngFor="let item of faqAccordianList">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ item?.label }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ item?.value }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
