<div class="h-100" appTheme>
  <h1 class="dNone">Online Courses for Career Growth in Angular, React, Node.js, Python</h1>
  <h2 class="dNone">Industry-Relevant Edtech Courses</h2>
  <h2 class="dNone">Hands-On Training and Live Projects</h2>
  <h2 class="dNone">Placement Assistance and Career Support</h2>
  <h2 class="dNone">Expert Instructors from Top Companies</h2>
  <h2 class="dNone">Learn Angular, React, Node.js, Python and More</h2>
  <app-loader></app-loader>
  <app-header></app-header>
  <div class="px-5 md:px-10">
    <router-outlet></router-outlet>
  </div>
  <!-- <app-scroll-top></app-scroll-top> -->
  <div *ngIf="utilityService.showFooter$ | async">
    <app-footer></app-footer>
  </div>
</div>
