<div class="mb-5 text-2xl header-text">Meet our Experts</div>
<div
  class="mb-10 grid grid-cols-2 md:grid-cols-5 lg:grid-cols-5 gap-5 lg:gap-10"
>
  <div
    class="px-4 rounded-full custom-height relative flex justify-center items-start text-sm overflow-hidden cursor-pointer"
    [ngStyle]="{ 'background-color': item?.bgColor }"
    *ngFor="let item of expertTeam"
  >
    <div
      class="absolute pt-16 flex flex-col items-center text-center text-sky-950"
    >
      <span class="font-semibold mb-1">{{ item?.name }}</span>
      <span>{{ item?.position }}</span>
    </div>
    <div
      class="absolute bg-no-repeat bg-cover bottom-0 w-52 h-80 expert-img"
      [style.background-image]="
        'url(' +
        (item?.img ? 'assets/images/experts/' + item.img + '.png' : '') +
        ')'
      "
    ></div>
    <div
      class="overlay absolute w-full h-full items-end pb-5 justify-center hidden"
    >
      <i
        class="fa-brands fa-github text-4xl me-5"
        [ngStyle]="{ color: item?.bgColor }"
      ></i>
      <i
        class="fa-brands fa-instagram text-4xl"
        [ngStyle]="{ color: item?.bgColor }"
      ></i>
    </div>
  </div>
</div>
