<div class="flex flex-col lg:flex-row pt-28">
  <div class="lg:w-2/3 p-3 md:p-6" >
    <h2 class="text-2xl font-semibold mb-4">{{mindMapJson?.mindMapData?.meta?.name}}</h2>
    <p class="text-white-600 mb-4 text-green">
      {{mindMapJson?.additionalData?.description}}
    </p>
    <div class="relative">
      <img
    [src]="mindMapJson?.mindMapData?.data?.['background-image']"
    alt="Course Thumbnail"
    class="w-full rounded-lg mb-4 h-96"
  />
    </div>
    <div>
      <mat-tab-group class="mb-4">
        <mat-tab *ngFor="let tab of mindMapJson?.additionalData?.tabs" [label]="tab?.title">
          <div *ngIf="tab?.content">
            <p class="my-4 leading-7">{{ tab?.content }}</p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="lg:w-1/3 p-3 md:p-6">

    <div class="courses-card shadow-md p-3 md:p-6 courses-card rounded-xl md:flex md:flex-col md:space-y-6 mb-4">
      
      <h2 class="text-xl font-semibold">Courses Overview</h2>
      <div class="max-h-80 overflow-y-auto">
      <mat-accordion>
        <div *ngFor="let course of mindMapJson?.mindMapData?.data?.children">
          <mat-expansion-panel class="bg-gray-cards rounded-xl">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-color">
                {{ course.topic }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="text-green">
              <li *ngFor="let courseSub of course.children" class="p-2">{{ courseSub.topic }}</li>
            </ul>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
      </div>
    </div>

    <div class="courses-card shadow-md p-3 md:p-6 courses-card rounded-xl md:flex md:flex-col md:space-y-6">
      <h2 class="text-xl font-semibold">FAQs</h2>
      <mat-accordion>
        <div *ngFor="let faq of mindMapJson?.additionalData?.faqs">
          <mat-expansion-panel class="bg-gray-cards rounded-xl p-4">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-color">
                {{ faq.question }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="pt-4 text-green">
              {{ faq.answer }}
            </p>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
