@import "../../../theme/color";

.bg-theme-1 {
  background-color: $themePrimary;
}

::ng-deep .mat-tab-label {
  color: $themeFontColor !important;
}

::ng-deep .mat-expansion-panel-header {
  height: auto;
  padding: 0.3rem 0.9rem !important;
}

.bg-gray-cards {
  background-color: $themeBoxShadow;
}

.courses-card,
.courses-card-body {
  border: 1px solid $themeBoxShadow;
}

.swiper-height {
  height: 26rem;
}

.faq-desc {
  color: #747474;
}
