<div class="py-8 md:pt-16 px-5 xl:px-36 bg-gray-cards">
  <div class="grid grid-cols-1 md:grid-cols-6 gap-4 mb-4">
    <div class="text-2xl mb-3 md:mb-0 md:col-start-1 md:col-end-5">
      <img src="assets/images/header/{{ headerLogo }}.svg" class="w-40" />
      <div class="text-sm md:text-base mt-3 pb-2">
        An initiative by the Dedicated
        <!-- <a href="https://www.cowin.gov.in/" target="_blank" class="text-green"
          >CoWIN</a
        > -->
        Technical Team.
      </div>

      <div>
        <ng-container *ngFor="let item of categories">
          <div class="text-sm pb-2.5">{{item}} Courses - 
          
            <ng-container *ngFor="let course of categoryWiseCourses[item]">
              <a class="font-medium underline underline-offset-4 cursor-pointer" (click)="openCourseDetailsPage(course.img)">{{course.courseName}}</a> |
            </ng-container>
          </div>
        </ng-container>
        <div class="text-sm pb-2 5">For Freshers - 
          <a class="font-medium underline underline-offset-4 cursor-pointer" [routerLink]="['/pay-after-placement']">
            Pay After Placement
          </a>
        </div>
      </div>
    </div>
  
    <div class="text-sm md:col-end-7 md:col-span-2 mb-3 md:mb-0">
      <div class="">Contact</div>
      <div class="font-semibold my-1">
        ORRIZONTE TECHNOLOGIES PRIVATE LIMITED
      </div>
      <div class="leading-7">
        Assotech Business Cresterra, Sector 135, Noida, Uttar Pradesh 201304.
      </div>

      <div class="mt-2">Phone | 8527718187</div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
    <div class="text-xs md:col-start-1 md:col-end-5">
      Copyright <i class="fa-solid fa-copyright text-green"></i>
      {{ currentYear }}
      ORRIZONTE TECHNOLOGIES PRIVATE LIMITED
    </div>

    <div class="text-sm md:col-end-7 md:col-span-2">
      <a href="terms-and-condition" class="me-5">Terms and conditions</a>
      <a href="privacy-policy">Privacy policy</a>
    </div>
  </div>
</div>
