<div class="my-8 md:mt-24 px-5 xl:mx-36">
  <div class="md:flex items-start justify-between">
    <div class="text-2xl mb-5 md:mb-0">
      <span class="text-green font-bold">CK</span>
      <span>lassrooms</span>
      <div class="text-sm md:text-base">
        An initiative by the Dedicated
        <!-- <a href="https://www.cowin.gov.in/" target="_blank" class="text-green"
          >CoWIN</a
        > -->
        Technical Team.
      </div>
    </div>

    <div class="text-sm">
      <div class="">Contact</div>
      <div class="font-semibold mt-1">ORRIZONTE TECHNOLOGIES</div>
      <div>Banashankari 6th stage,</div>
      <span>Bengaluru, Karnataka</span>

      <div>Phone | 8527241818</div>
    </div>
  </div>
  <div class="md:text-center text-sm mt-5">
    Copyright <i class="fa-solid fa-copyright text-green"></i> {{currentYear}}
    ORRIZONTE TECHNOLOGIES
  </div>
</div>
